* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFF0;
    font-family: 'Roboto', sans-serif;
}

p {
    color: gray;
}

/* Nav Bar */

.mobile-nav {
    display: none;
}

header {
    background-color: #7030CC;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

.logo img {
    height: 35px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.item {
    list-style: none;
    color: white;
}

.item1 {
    font-size: 19px;
    font-weight: bold;
    color: #50caf0;
}

.btn {
    padding: 10px 18px;
    background-color: #1BBCEF;
    color: white;
    border: none;
    font-weight: bold;
}

/* Section Hero */


.hero {
    display: flex;
    align-items: center;
}

.hero-text {
    margin-left: 200px;
}

.hero-text h1 {
    width: 80%;
    font-size: 55px;
    color: white;
}

.hero-text p {
    width: 75%;
    margin-top: 50px;
    font-size: 14px;
    color: white;
}

.hero-image img {
    height: 480px;
    margin-right: 50px;
}

/* Section SAAS */

.saas {
    margin-top: 100px;
}

.saas1 {
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
}

.saas-image img {
    height: 550px;
}

.saas-text h2 {
    text-align: center;
    font-size: 35px;
}

.saas-list {
    margin: 60px 130px;
}

.saas-list h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}

.saas-list p {
    font-size: 14px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.saas-list h3 img {
    height: 15px;
    margin-right: 10px;
}

/* Section Features */

.features {
    margin-top: 50px;
}

h2.feature-heading {
    font-size: 35px;
    text-align: center;
}

.cards {
    padding: 100px 200px;
    display: flex;
    gap: 30px;
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 6px 2px #555353;
}

.card img {
    margin: 40px 75px;
    height: 60px;
}

.card h3 {
    text-align: center;
    font-size: 25px;
}

.card p {
    text-align: center;
    width: 70%;
    margin: 15px 30px;
}


/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 480px) {

    /* Nav Bar */

    nav {
        display: none;
    }

    header {
        height: auto;
    }

    .mobile-nav {
        width: 100vw;
        padding: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Section Hero */


    .hero {
        flex-direction: column;
        padding: 2.5rem;
        width: 100vw;
    }

    .hero-text {
        margin-left: 0;
    }

    .hero-text h1 {
        width: 100%;
        font-size: 2.3rem;
    }

    .hero-text p {
        width: 100%;
        margin-top: 2.2rem;
        font-size: 14px;
    }

    .hero-image img {
        height: 22rem;
        margin-right: 0;
    }

    /* Section SAAS */

    .saas {
        margin-top: 4rem;
    }

    .saas1 {
        margin: 0 2.5rem;
        flex-direction: column;
    }

    .saas-image img {
        height: 22rem;
    }

    .saas-list {
        margin: 2rem;
    }

    .saas-list h3 {
        margin: 0;
    }

    .saas-list p {
        font-size: 14px;
        margin-top: 0.3rem;
        margin-left: 1.8rem;
        margin-bottom: 2rem;
    }

    /* Section Features */

    .features {
        margin-top: 3rem;
        width: 100vw;
    }

    h2.feature-heading {
        padding: 0 2.5rem;
    }

    .cards {
        padding: 3rem;
        flex-direction: column;
        gap: 2rem;
    }

    .card{
        text-align: center;
    }

    .card p {
        margin: 1.2rem auto;
    }
    


}